<p><b>Voivodeship <%= @voi.name %></b>
</p>
<p>
Frekwencja:<br />
<% if @frekwencja > 100 %>
  100
<% else %>
  <%= @frekwencja %>
<% end %>
<%#= @cards %> %
</p>

<%= link_to 'Back', voivodeship_path(@voi) %>
